<nav th:fragment="menu-principal" class="sidebar-nav">
        
        <ul class="nav">
          
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-cursor"></i> Convenio</a>
	            <ul class="nav-dropdown-items">
	              <li class="nav-item nav-dropdown">
		            	<a class="nav-link nav-dropdown-toggle" href="#">
		              	<i class="nav-icon icon-cursor"></i> Solicitudes</a>
			            <ul class="nav-dropdown-items">
			              <li class="nav-item">
			                <a class="nav-link" th:href="@{/solicitudes/listaSolicitudesPorAprobar}">
			                  <i class="nav-icon icon-cursor"></i> Por aprobar</a>
			              </li>
			              <li class="nav-item">
			                <a class="nav-link" th:href="@{/solicitudes/listaSolicitudesMovimientos}">
			                  <i class="nav-icon icon-cursor"></i> Movimientos</a>
			              </li>
			              
			            </ul>
	          	  	  </li>	      	
	              <li class="nav-item nav-dropdown">
	            	<a class="nav-link nav-dropdown-toggle" href="#">
	              	<i class="nav-icon icon-cursor"></i> Parametros</a>
		            <ul class="nav-dropdown-items">
		              <li class="nav-item">
		                <a class="nav-link" th:href="@{/monedas/index}">
		                  <i class="nav-icon icon-cursor"></i> Moneda</a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" th:href="@{/tasas/index}">
		                  <i class="nav-icon icon-cursor"></i> Tasa</a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" th:href="@{/limitesGenerales/index}">
		                  <i class="nav-icon icon-cursor"></i> Limites Generales</a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" th:href="@{/clientesPersonalizados/index}">
		                  <i class="nav-icon icon-cursor"></i> Clientes Personalizados</a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" th:href="@{/limitesPersonalizados/index}">
		                  <i class="nav-icon icon-cursor"></i> Limites Personalizados</a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" th:href="@{/agencias/index}">
		                  <i class="nav-icon icon-cursor"></i> Agencia</a>
		              </li>
		            </ul>
          		 	</li>
	  				        
            </ul>
          </li>
          
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-cursor"></i> CCE</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="buttons-buttons.html">
                  <i class="nav-icon icon-cursor"></i> Buttons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="buttons-button-group.html">
                  <i class="nav-icon icon-cursor"></i> Buttons Group</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="buttons-dropdowns.html">
                  <i class="nav-icon icon-cursor"></i> Dropdowns</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="buttons-brand-buttons.html">
                  <i class="nav-icon icon-cursor"></i> Brand Buttons</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>